
*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    
}

html, body{
height: 100%;
width: 100%;
font-family: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #222;
background-color:#FFF
}
.navbar
{
    padding: .5rem;
    background-color: #212121 ! important;
   
}
.navbar-nav li
{
    padding-right: 20px; 
}
.nav-link{
    font-size: 1.1em !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption
{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: .1rem;
}
.btn-primary{
   background-color: #6648b1;
   border: 1px solid #564d7c; 
}

.btn-primary:hover
{
    background-color: #563d7c;
   border: 1px solid #563d7c; 
}
.jumbotron
{
    padding: 1rem;
    border-radius: 0;
}

.padding
{
   padding-bottom: 2rem; 
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-user-hard-hat{
    color: #563d7c;
    font-size: 5rem;
    margin: 1rem;
}
.user i,.fa-users{
    color: #563d7c;
    font-size: 5rem;
    margin: 1rem;
}

.offerdiv div:hover,.card:hover{
    box-shadow: 20px 20px 50px rgb(19, 38, 44);
}


.goal{
    margin-top: 6rem;
}

.social a{
font-size: 4.5rem;
padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover,.fa-twitter:hover,.fa-google-plus-g:hover,.fa-instagram:hover,.fa-youtube:hover
{
    color: #d5d5d5;
}

footer{
    
    color: #d5d5d5;
    padding-top: 2rem;
    background-color: #181717 ;
}
hr.light{
    border-top:1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0.2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.is{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.a:hover{
	color: #38d39f;
}

.btn-login{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn-login:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}




@media (max-width:992px){
    .social a{
        font-size: 4rem;
        padding: 2rem;
    }
    .carousel-caption
    {
        transform: translateY(-50%);
        top: 45%;
    }
    .carousel-caption h1{
        font-size: 200%;
        padding-bottom:.2rem ;
     
    }
    .carousel-caption .btn{
       
        font-size: 100%;
        padding: 5px 15px;
    
    }
    .container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

@media(max-width:768px){
.carousel-caption
{
    
    top: 40%;
}
.carousel-caption h1{
    font-size: 100%;
    padding-bottom:.2rem ;
 
}
.carousel-caption .btn{
   
    font-size: 70%;
    padding: 5px 15px;

}

.display-4{
    font-size: 200%;
}

.social a{
    font-size: 2.5rem;
    padding: 1.2rem;
}
}

@media (max-width:576px){

    .carousel-caption
    {
        top: 20%;
    }
    .carousel-caption h1{
        font-size: 100%;
     
    }
    .carousel-caption .btn{
        font-size: 50%;
        padding: 4px 7px;
        margin-bottom: 2rem;
    
    }
    .carousel-indicators{
        display: none;
    } 
}
